<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Restaurant Store</title>
	<meta name="description" content="">
	
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% load staticfiles %}
	
	<link rel="stylesheet" media="screen" href={% static "css/superfish.css"%} />
	<link rel="stylesheet" media="all" href={% static "css/nivo-slider.css"%}   />
	<link rel="stylesheet" media="all" href={% static "css/tweet.css"%} />
	<link rel="stylesheet" href={% static "css/style.css"%} >
	<link rel="stylesheet" media="all" href={% static "css/lessframework.css"%} />
    <link rel="stylesheet" href={% static "css/register.css"%}/>
	<script src={% static "js/modernizr-2.5.3.min.js"%}></script>
</head>
<body>
	<!-- HEADER -->
	<header>
		<!-- header wrapper -->
		<div class="wrapper cf">
			<div id="logo">
				<a href="index.html" ><img alt="" src={% static "img/logo.png"%} /></a>
			</div>
		</div><!-- ENDS header wrapper -->

		<!-- nav -->
		<nav class="cf">
			<div class="wrapper cf">
				<ul id="nav" class="sf-menu">
					<li class="current-menu-item"><a href="/index/">HOME<i><b></b></i></a></li>
					<li><a href="/about/">ABOUT<i><b></b></i></a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/info/">INFO<i><b></b></i></a></li>
                        <li><a href="#" onclick="pop();return false;">RECOMMEND<i><b></b></i></a></li>
					    <li><a href="/logout/">LOG OUT {{ request.user.username }}<i><b></b></i></a></li>
                    {% else %}
                        <li><a href="/sign/">SIGN IN NOW!<i><b></b></i></a></li>
                    {% endif %}
				</ul>
				<div id="combo-holder"></div>
			</div>
		</nav>
		<!-- ends nav -->
			
	</header>
	<!-- ENDS HEADER -->
	
	
	<!-- MAIN -->
	<div role="main" id="main">
		<div class="wrapper">
		
		<!-- SLIDER -->
		<div class="slider-wrapper theme-default theme-project theme-home">
            <div class="ribbon"></div>
            <div id="slider" class="nivoSlider">
                <img alt="" src={% static "img/dummies/slides/01.jpg"%}  />
                <a href="#"><img alt="" src={% static "img/dummies/slides/02.jpg"%}  /></a>
                <img alt="" src={% static "img/dummies/slides/03.jpg"%} />
            </div>
        </div>
		<!-- ENDS SLIDER -->


        <!-- POP WINDOW -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <div class="modal-header">
          <span class="close">&times;</span>
          <h2>Modal Header</h2>
        </div>
        <div class="modal-body">
          <form id="contactForm" action="/extra/" method="post">
              {% csrf_token %}
              <label for="dress_preference">Dress preference</label>
              <select id='id_dress_preference' name="dress_preference">
                  <option value="informal">informal</option>
                  <option value="formal">formal</option>
                  <option value="no_preference">no preference</option>
                  <option value="elegant">elegant</option>
              </select>

              <label for="ambience">Ambience</label>
              <select id='id_ambience' name="ambience">
                  <option value="familiar">familiar</option>
                  <option value="quiet">quiet</option>
              </select>

              <label for="transport">Transport</label>
              <select id='id_transport' name="transport">
                  <option value="on_foot">on foot</option>
                  <option value="public">public</option>
                  <option value="car_owner">car owner</option>
              </select>

              <label for="budget">Budget</label>
              <select id='id_budget' name="budget">
                  <option value="medium">medium</option>
                  <option value="low">low</option>
                  <option value="high">high</option>
              </select>
              <br/>
              <br/><input type="submit" value="Done" />
          </form>
        </div>
        <div class="modal-footer">
          <h3>Modal Footer</h3>
        </div>
        </div>

        </div>
        <!-- ENDS POP WINDOW -->

		<!-- headline -->
		<div class="headline">
			We know your taste !
		</div>
		<!-- ENDS headline -->
		
			
	 	 <!-- Feature -->
	 	 <ul id="filter-container-feature" class="feature">
             {% for rest in recent %}
                 <li>
			 	    <a href="/rec/?id={{rest.id  }}" class="thumb" ><img alt="" src="/static/img/dummies/{{ rest.imgId }}.jpg"  />
				 	    <div class="date"><span class="d">{{ rest.price }}</span><span class="m">budget</span></div>
                     </a>
			 	    <div class="caption">{{ rest.name }}</div>
		 	    </li>
             {% endfor %}
	 	 </ul>
	 	 <!-- ENDS feature -->
	  
	  
	  </div>
	</div>
	<!-- ENDS MAIN -->
	
	
	<footer>
	
		<!-- wrapper -->
		<div class="wrapper cf">
		
		
			<!-- social -->
			<div class="sb-holder cf">
				<ul id="social-bar" class="cf">
					<li class="left-corner"><i></i></li>
					<li><a href="http://www.facebook.com"  title="Become a fan" ><img alt="Facebook" src={% static "img/social/Facebook.png" %}  /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets" ><img alt="twitter" src={% static  "img/social/Twitter.png"%} /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle" ><img alt="Google plus" src={% static "img/social/Google+.png"%} /></a></li>
					
					<li class="right-corner"><i></i></li>
				</ul>
				
				
			</div>
			<!-- ENDS social -->
		</div><!-- ENDS wrapper -->
		
		
		

	</footer>


	<!-- JavaScript at the bottom for fast page loading -->
	
	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src={% static "js/jquery-1.7.1.min.js"%}><\/script>')</script>
	
	<!-- scripts concatenated and minified via build script -->
	<script src={% static "js/custom.js"%}></script>
	
	<!-- superfish -->
	<script  src={% static "js/superfish-1.4.8/js/hoverIntent.js"%}></script>
	<script  src={% static "js/superfish-1.4.8/js/superfish.js"%}></script>
	<script  src={% static "js/superfish-1.4.8/js/supersubs.js"%}></script>
	<!-- ENDS superfish -->
	
	<script src={% static "js/tweet/jquery.tweet.js"%} ></script>
	<script src={% static "js/jquery.isotope.min.js"%}></script>
	<script src={% static "js/jquery.nivo.slider.js"%} ></script>
	<script src={% static "js/css3-mediaqueries.js"%}></script>
	<script src={% static "js/tabs.js"%}></script>
	<script  src={% static "js/poshytip-1.1/src/jquery.poshytip.min.js"%}></script>
    <script src={% static "js/popwindow.js" %}></script>
    {% if 'extra_mark' not in request.session and request.user.is_authenticated %}
    <script type="text/javascript">
        pop();
    </script>
    {% endif %}
	<!-- end scripts -->

</body>
</html>