<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{{ restaurant.name }}</title>
	<meta name="description" content="">
    {% load staticfiles %}
	<!-- Mobile viewport optimized: h5bp.com/viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	
	<link rel="stylesheet" media="screen" href={% static "css/superfish.css"%} />
	<link rel="stylesheet" media="all" href={% static "css/nivo-slider.css"%}  />
	<link rel="stylesheet" media="all" href={% static "css/tweet.css" %} />
	<link rel="stylesheet" href={% static "css/style.css"%}>
	<link rel="stylesheet" media="all" href={% static "css/lessframework.css"%}/>
	<script src={% static "js/modernizr-2.5.3.min.js"%}></script>
    </head>
    <body>

	<!-- HEADER -->
	<header>
		
		<!-- header wrapper -->
		<div class="wrapper cf">
			<div id="logo">
				<a href="/index/" ><img alt="" src={% static "img/logo.png" %} /></a>
			</div>
		</div><!-- ENDS header wrapper -->
		
		
		
		<!-- nav -->
		<nav class="cf">
			<div class="wrapper cf">
				<ul id="nav" class="sf-menu">
					<li><a href="/index/">HOME<i><b></b></i></a></li>
                    <li><a href="/rec/?id={{ restaurant.id }}">RESTAURANT<i><b></b></i></a></li>
					<li><a href="/about/">ABOUT<i><b></b></i></a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/info/">INFO<i><b></b></i></a></li>
					    <li><a href="/logout/">LOG OUT: {{ request.user.username }}<i><b></b></i></a></li>
                    {% else %}
                        <li><a href="/sign/"  class="current-menu-item">SIGN IN NOW!<i><b></b></i></a></li>
                    {% endif %}
				</ul>
				<div id="combo-holder"></div>
			</div>
		</nav>
		<!-- ends nav -->
			
	</header>
	<!-- ENDS HEADER -->
	
	
	<!-- MAIN -->
	<div role="main" id="main">
		<div class="wrapper">
		
			<!-- page-content -->
			<div class="page-content portfolio-content">
				
				<!-- entry-content -->	
	        	<div class="entry-content cf">
	        		
	        		<!-- GOOGLE MAPS -->
				<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true" ></script>
				<script type="text/javascript">
					function initialize() {
						var latlng = new google.maps.LatLng({{ restaurant.latitude }}, {{ restaurant.longitude }});
                        var bounds = new google.maps.LatLngBounds();
						var myOptions = {
						  zoom: 8,
						  center: latlng,
						  mapTypeId: google.maps.MapTypeId.ROADMAP
					};
					var map = new google.maps.Map(document.getElementById("map_canvas"),
					    myOptions);
                        var marker = new google.maps.Marker({
                            position: latlng,
                            map: map,
                            title: 'Hello World!'
                        });
					}
				</script>
				<h2 class="heading">Location</h2>
				<div id="map_canvas"></div>
                <div>
                    <div class="lists-heart">
						<ul>
							<li><strong>address:</strong> {{ restaurant.address }}, <strong>city:</strong> {{ restaurant.city }}</li>
							<li><strong>state: </strong>{{ restaurant.state }}, <strong>country: </strong>{{ restaurant.country }}</li>
						</ul>
					</div>
                </div>

				<!-- ENDS GOOGLE MAPS -->
						
					<h2>{{ restaurant.name }}</h2>
	        		<!-- project content -->
                    <br/>
	        		<div class="project-content">
		        		<p class="dropcap">{{ description }}</p>
	        		</div>
	        		<!-- ENDS project content -->
	        		
	        		<!-- project info -->
					<div class="project-info">
						<p><strong>Parking</strong>{{ parking.parking_lot }}</p>
						<p><strong>Open time</strong>{{ open_time.hours }}</p>
                        <p><strong>Open date</strong>{{ open_time.days }}</p>
						<p><a href="{{ restaurant.url }}" >official website</a></p>
					</div>
					<!-- ENDS project info -->	
					
				</div>
				<!-- ENDS entry-content -->
				
				<div class="c-1"></div>
				<div class="c-2"></div>
				<div class="c-3"></div>
				<div class="c-4"></div>
			</div><!-- ENDS page-content -->
			
			
			<!-- related -->
			<div class="related-projects">
				<h2 class="related-heading">Related Restaurants</h2>
				<ul class="related-list cf">
                    {% for res in related %}
                        <li>
                            <a href="/rec/?id={{ res.id }}" class="thumb"><img alt="" src="/static/img/dummies/{{ res.imgId }}.jpg" /></a>
                            <a href="/rec/?id={{ res.id }}" class="heading">{{ res.name }}</a>
					    </li>
                    {% endfor %}
					</li>
				</ul>
			</div>
			<!-- ENDS related -->
				
	  
	  </div>
	</div>
	<!-- ENDS MAIN -->
	
	
	<footer>
	
		<!-- wrapper -->
		<div class="wrapper cf">
		
		
			<!-- social -->
			<div class="sb-holder cf">
				<ul id="social-bar" class="cf">
					<li class="left-corner"><i></i></li>
					<li><a href="http://www.facebook.com"  title="Become a fan" ><img alt="Facebook" src={% static "img/social/Facebook.png" %} /></a></li>
					<li><a href="http://www.twitter.com" title="Follow my tweets" ><img alt="twitter" src={% static "img/social/Twitter.png" %} /></a></li>
					<li><a href="http://www.google.com"  title="Add to the circle" ><img alt="Google plus" src={% static "img/social/Google+.png"%}  /></a></li>
					<li class="right-corner"><i></i></li>
				</ul>
				
				
			</div>
			<!-- ENDS social -->
		</div><!-- ENDS wrapper -->
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src={% static  "js/jquery-1.7.1.min.js"%}><\/script>')</script>
	
	<!-- scripts concatenated and minified via build script -->
	<script src={% static "js/custom.js"%}></script>
	
	<!-- superfish -->
	<script  src={% static "js/superfish-1.4.8/js/hoverIntent.js"%}></script>
	<script  src={% static "js/superfish-1.4.8/js/superfish.js"%}></script>
	<script  src={% static "js/superfish-1.4.8/js/supersubs.js"%}></script>
	<!-- ENDS superfish -->
	
	<script src={% static "js/tweet/jquery.tweet.js" %} ></script>
	<script src={% static "js/jquery.isotope.min.js" %}></script>
	<script src={% static "js/jquery.nivo.slider.js" %} ></script>
	<script src={% static "js/css3-mediaqueries.js"%}></script>
	<script src={% static "js/tabs.js"%}></script>
	<script  src={% static "js/poshytip-1.1/src/jquery.poshytip.min.js"%}></script>
	<!-- end scripts -->

    <!-- Start google map -->
	<script>initialize();</script>

</body>
</html>